# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist/
build/

# Environment files
.env
.env.local

# Logs
logs/
*.log
*.out
*.err

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Render / Vercel / deployment caches
.vercel/
.render/
